$blue: #5b6ceb;
$darkBlue: #5363d8;
$grey: #777;
$lightGrey: #a0a0a0;
%formElementTemplate{
	//height: 50px;
	width: 220px;
	background: #f2f2f2;
	border-radius: 10px;
	border-style: none;
	margin-left: 30px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
}
%buttonTemplate{ 
	height: 50px;
	width: 170px;
	border-radius: 10px;
	background: $blue;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
%narrowSectionCenter{
	min-width: 320px;
	max-width: 1165px;
	margin: 0 auto;
}
%wideSectionCenter{
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
}
%arial{
	font-family: Arial;
}
%previousBtn{
	width: 10px;
	height: 10px;
	border: 3px solid $blue;
	transform: rotate(45deg); 
	border-top: none;
	border-right: none;
}
%nextBtn{
	width: 10px;
	height: 10px;
	border: 3px solid $blue;
	transform: rotate(45deg); 
	border-bottom: none;
	border-left: none;
}


*{
	padding: 0;
    margin: 0;
	outline: 0;
}
a {
	text-decoration: none;
}
img{
	border: none;
}
body{
	margin: 0 auto;
	overflow-x: hidden;
}


.pageHeader{
	@extend %wideSectionCenter;
}
.pageNav{
	position: fixed;
	z-index: 100;
	max-width: 1920px;
	width: 100%;
	min-height: 100px;
	max-height: 150px;
	background: #fff;
	top: 0;
	display: flex;
	justify-content: center;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-orient: horizontal;
	&_list{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&_logo{
		display: inline-block;
		margin: 0 140px;
	}
	&_listItem{
		margin-left: 20px;
		list-style-type: none;
	}
	&_link{
		color: #555;
	}
	&_linkText:after{
		visibility: hidden;
		margin: 0 auto;
		content: "";
		display: block;
		background-color: $blue;
		height: 1px;
		width: 30px;
		margin-top: 2px;
	}
	&_link:hover{
		color: $blue;
	}
	&_link:hover &_linkText:after{
		visibility: visible;
	}
}

.slider{
	@extend %wideSectionCenter;
	position: relative;
	clear: left;
	&_background{
		position: absolute;
		top: 0;
		height: 100%;
		background-color: $blue;
		z-index: 0;
	}
	&-backgroundColor{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $blue;
		opacity: 0.8;
		filter: alpha(Opacity=80); // Прозрачность в IE 
		z-index: 2;
	}
	&_content{
		@extend %narrowSectionCenter;
		position: relative;
		margin-top: 100px;
		padding-bottom: 100px;
		display: flex;
		flex-direction: row;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: center;
		
		z-index: 3;
	}
	&_trialClass{
		margin-top: 100px;
	}
	&_text{
		margin-top: 170px;
		margin-left: 100px;
	}
	&_title{
		margin-top: 0;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: bold;
		line-height: 50px;
		color: #fff;
		@extend %arial;
	}
	&_subtitle{
		color: #fff;
		line-height: 40px;
		font-size: 1.5em;
		font-family: Monotype Corsiva;
	}
}
.trialClass{
	width: 300px;
	height: 400px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
	&_title{
		color: $blue;
		font-size: 1.5em;
		font-weight: bold;
		padding-top: 40px;
		padding-left: 35px;
		padding-bottom: 15px;
		@extend %arial;
	}
	&_name{
		@extend %formElementTemplate;
	}
	&_phone{
		@extend %formElementTemplate;
	}
	&_class{
		@extend %formElementTemplate;
		color: #888;
		width: 230px;
	}
	&-classBlack{
		color: #000;
	}
	&_button{
		@extend %buttonTemplate;
		margin-top: 30px;
		margin-left: 95px;
		opacity: 0.9;
	}
	&_button:hover{
		opacity: 1;
	}
	&_error-box{
	    color: red;
	    font-size: 12px;
	}
}
.btn-disabled{
	opacity: 0.5;
}
.btn-disabled:hover{
	opacity: 0.5;
}
.ourClases{
	@extend %narrowSectionCenter;
	clear: left;
	clear: right;
	&_title{
		margin-top: 120px;
		text-align: center;
		@extend %arial;
		font-size: 1.5em;
		color: $blue;
		text-transform: uppercase;
	}
	&_subtitle{
		text-align: center;
		font-family: Monotype Corsiva;
		font-size: 1.5em;
		color: $grey;
		text-transform: capitalize;
	}
	&_yogaClasses{
		max-width: 1170px;
		margin-top: 45px;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.yogaClass{
	min-height: 300px;
	min-width: 300px;
	color: $grey;
	margin-top: 25px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	justify-content: center;
	&_img{
		background: $blue;
		height: 300px;
		width: 270px;
	}
	&_content{
		height: inherit;
		width: 300px;
	}
	&_title{
		@extend %arial;
		font-weight: bold;
		font-size: 1.2em;
		text-transform: uppercase;
		margin-top: 50px;
		margin-left: 30px;
	}
	&_text{
		margin-top: 35px;
		margin-left: 30px;
	}
	&_autor{
		color: $lightGrey;
		margin-top: 20px;
		margin-left: 30px;
	}
}

.gallery{
	@extend %wideSectionCenter;
	overflow: hidden;
	clear: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 150px;
	&_imgBlock{
		position: relative;
		width: 480px;
		height: 350px;
		background: $lightGrey;
		display: block;
		float: left;
		line-height: 1px;
	}
	&_imgHoverBackground{
		visibility: hidden;
		position: absolute;
		top: 0;
		width: 480px;
		height: 350px;
		background: $blue;
		opacity: 0.8;
	}
	&_imgHoverIcon{
		visibility: hidden;
		position: absolute;
		left: 215px;
		top: 150px;
		background: #fff;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
	}
	&_imgHoverIcon:after{
		visibility: hidden;
		content: "\1F50D";
		font-size: 30px;
		color: $blue;
		display: inline-block;
		padding-top: 27px;
		padding-left: 15px;
	}
	&_imgBlock:hover &_icon{
		filter: grayscale(1);
	}
	&_imgBlock:hover &_imgHoverBackground,
	&_imgBlock:hover &_imgHoverIcon,
	&_imgBlock:hover &_imgHoverIcon:after {
		visibility: visible;
	}
}

.aboutUs{
	@extend %narrowSectionCenter;
	min-height: 550px;
	clear: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	&_information{
		margin-left: 20px;
	}
	&_title{
		margin-top: 150px;
		@extend %arial;
		font-weight: bold;
		font-size: 1.5em;
		text-transform: uppercase;
		color: $blue;
	}
	&_text{
		margin-top: 30px;
		margin-right: 100px;
	}
	&_images{
		position: relative;
		float: right;
		margin-top: 100px;
	}
	&_previousBtnBackground{
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		top: 125px;
		left: -25px;
		background-color: #fff;
		box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
	}
	&_previousBtn{
		@extend %previousBtn;
		position: absolute;
		top: 18px;
		left: 22px;
	}
	&_nextBtnBackground{
		position: absolute;
		width: 50px;
		height: 50px;
		top: 125px;
		left: 545px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: -5px 0px 5px rgba(0,0,0,0.1);
	}
	&_nextBtn{
		@extend %nextBtn;
		position: absolute;
		top: 18px;
		left: 17px;
	}
}
.features{
	@extend %wideSectionCenter;
			position: relative;
		clear: left;
		overflow: hidden;
	&_backgroundImage{
		position: absolute;
		top: 0;
		height: 100%;
		background: $lightGrey;
		z-index: 0;
	}
	&-backgroundColor{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: $blue;
		opacity: 0.8;
		filter: alpha(Opacity=80); // Прозрачность в IE 
		z-index: 2;
	}
	&_content{
		@extend %narrowSectionCenter;
		position: relative;
		top: 120px;
		padding-bottom: 300px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		z-index: 3;
	}
	&_feature{
		float: left;
		margin-right: 25px;
		margin-top: 30px;
	}
}
.feature{
	text-align: center;
	width: 260px;
	height: 250px;
	color: #fff;
	&_iconBorder{
		margin-top: 50%;
		margin: 0 auto;
		width: 65px;
		height: 65px;
		border: 2px solid #fff;
		background: none;
		border-radius: 50%;
	}
	&_icon{
		margin: 0 auto;
		margin-top: 5px;
	}
	&_title{
		text-transform: uppercase;
		@extend %arial;
		font-weight: bold;
		font-size: 1.3em;
		margin-top: 30px;
	}
	&_text{
		margin-top: 20px;
	}
}
.prices{
	@extend %narrowSectionCenter;
	clear: left;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	&_buyNow{
		margin-top: 100px;
		float: left;
	}
}
.buyNow{
	width: 360px;
	height: 500px;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	&_title{
		display: flex;
		justify-content: center;
		align-items: center;
		order: -2;
		color: #fff;
		font-size: 50px;
		height: 150px;
		width: 100%;
		background: $blue;
		@extend %arial;
		font-weight: bold;
	}
	&_title:before {
		content: "\0024";
		font-size: 20px;
		@extend %arial;
		font-weight: bold;
		margin-right: 10px;
	}
	&_title:after {
		content: "/ MONTH";
		font-size: 15px;
		@extend %arial;
		padding-top: 20px;
	}
	&_text{
		text-transform: uppercase;
		display: flex;
		position: relative;
		top: 50px;
		order: -1;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	 &_time, &_advicer{
		margin-top: 50px;
	}
	&_button{
		@extend %buttonTemplate;
		padding-top: 15px;
		height: 40px;
		border-radius: 20px;
		font-weight: normal;
	}
	&_buttonLink{
		position: relative;
		display: flex;
		justify-content: center;
		top: 100px;
		color: #fff;
		font-size: 1.3em;
		@extend %arial;
	}
	&_buttonLink:hover{
		text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
	}
	&_buttonLink:hover ~ &_title {
		text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
	}
}

.bloquotes{
	@extend %narrowSectionCenter;
	margin-top: 150px;
	margin-bottom: 100px;
	min-height: 300px;
	@extend %arial;
	clear: left;
	border-radius: 10px;
	&_background{
		min-height: 300px;
		background-color: #fff;
		border-radius: 10px;
	}
	&_photoIcon{
		margin-top: 40px;
		margin-left: 60px;
		margin-right: 90px;
		border-radius: 50%;
		box-shadow: 0 0 0 11px #fff, 0 0 0 14px #d0d4d5;
		float: left;
	}
	&_content{
		position: relative;
	}
	&_content:before{
		position: relative;
		top: 40px;
		content: "\201C";
		color: $blue;
		font-size: 3em;
		left: -50px;
	}
	&_content:after{
		position: relative;
		top: -40px;
		content: "\201D";
		color: $blue;
		font-size: 3em;
		left: 540px;
		z-index: 10;
	}
	&_text{
		font-style: italic;
	}
	&_info{
		display: inline-block;
		height: 70px;
		width: 200px;
		border-left: 2px solid $lightGrey;
		padding-left: 40px;
		margin-left: -40px;
	}
	&_link{
		height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&_infoPosition{
		color: $grey;
	}
	&_infoName{
		color: $blue;
		font-weight: bold;
	}
	&_nextTrainer{
		position: absolute;
		top: 85px;
		left: 30%;
	}
}
.nextTrainer{
	position: relative;
	display: inline-block;
	width: 180px;
	&_previousBtnBackground{
		position: absolute;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		top: 20px;
		left: -60px;
		background-color: #fff;
		box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_previousBtn{
		@extend %previousBtn;
		margin-left: 5px;
		width: 7px;
		height: 7px;
	}
	&_nextBtnBackground{
		position: absolute;
		width: 30px;
		height: 30px;
		top: 20px;
		left: 200px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_nextBtn{
		@extend %nextBtn;
		margin-right: 5px;
		width: 7px;
		height: 7px;
	}
	&_icon{
		border-radius: 50%;
		box-shadow: 0 0 0 3px #fff, 0 0 0 6px #d0d4d5;
		float: left;
		margin-right: 15px;
	}
	&_name{
		color: #555;
		padding-top: 15px;
		font-weight: bold;
	}
	&_position{
		color: $grey;
		padding-top: 5px;
	}
	
}
.pageFooter{
	@extend %wideSectionCenter;
	position: relative;
	clear: left;
	&_background{
		background: $blue;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 0;
	}
	&_content{
		@extend %narrowSectionCenter;
		position: relative;
		z-index: 1;
		color: #fff;
		margin-bottom: 100px;
		font-family: Arial;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&_about{
		display: block;
		margin-top: 100px;
		float: left;
	}
	&_contact{
		display: inline-block;
		margin-top: 100px;
	}
	&_copy{
		@extend %wideSectionCenter;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		clear: left;
		min-height: 100px;
		background: $darkBlue;
		color: #fff;
	}
}

.pageFooterAbout{
	&_title{
		text-transform: uppercase;
		font-weight: bold;
	}
	&_text{
		margin-top: 45px;
	}
	&_icons{
		margin-top: 60px;
	}
	&_icon{
		margin-right: 10px;
	}
}
.pageFooterContact{
	&_title{
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: bold;
	}
	&_info{
		max-width: 541px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}
	&_block{
		display: inline-block;
		width: 220px;
		margin-top: 30px;
	}
	&_icon{
		float: left;
	}
	&_text{
		padding-left: 40px;
	}
}